.main {
  padding: 24px;

  @media (min-width: 640px) {
    padding: 80px;
  }
}

.container {
  @media (min-width: 1024px) {
    margin: 0 auto;
    max-width: 800px + 2 * 80px + 80px;
  }
}

.columns {
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.section {
  margin-top: 48px;
}

.app {
  height: 100vh;
  min-width: 320px;
  overflow: scroll;

  @supports (scrollbar-gutter: stable) {
    overflow: auto;    
    scrollbar-gutter: stable;  
  }
}

.column {
  max-width: 400px;
}
